/* Big tablet to 1200px (widths smaller that the 1140px row) */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 5%;
  }

  .row {
    padding: 0% 2%;
  }

  .box h3 {
    margin-left: 0px;
  }
  .icon-cities {
    margin-right: 9px;
  }
}

@media only screen and (max-width: 1085px) {
  .city-feature {
    margin-bottom: 3px;
    font-size: 85%;
  }
  .icon-cities {
    margin-right: 8px;
  }
}

@media only screen and (max-width: 1035px) {
  .icon-cities {
    margin-right: 5px;
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 17px;
  }
  section {
    padding: 60px 0px;
  }

  .steps-box:first-child {
    margin-top: 20px;
  }

  .steps-box:last-child {
    margin-top: 40px;
  }

  .works-step {
    margin-bottom: 30px;
  }

  .works-step:last-of-type {
    margin-bottom: 60px;
  }
  .button-app img {
    height: 45px;
  }

  .section-cities {
    width: 90%;
    margin-left: 5%;
  }

  .city-feature {
    margin-bottom: 3px;
    font-size: 95%;
  }

  .box h3 {
    font-size: 17px;
  }

  .icon-cities {
    width: 20px;
    margin-right: 5px;
  }

  blockquote {
    margin-top: 40px;
  }

  .plan-box {
    width: 92%;
    margin: 4%;
  }
}

@media only screen and (max-width: 865px) {
  .city-feature {
    margin-bottom: 3px;
    font-size: 90%;
  }
}

@media only screen and (max-width: 834px) {
  .plan-box ul li {
    font-size: 85%;
  }
}

@media only screen and (max-width: 826px) {
  .city-feature {
    margin-bottom: 3px;
    font-size: 85%;
  }
}

@media only screen and (max-width: 800px) {
  .plan-box {
    width: 96%;
    margin: 2%;
  }
}

@media only screen and (max-width: 788px) {
  .city-feature {
    margin-bottom: 3px;
    font-size: 80%;
  }
}

.contact-form {
  width: 80%;
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }

  .hero-text-box,
  .row {
    width: 100%;
    padding: 0% 4%;
  }

  .box h3 {
    margin-left: 0px;
  }

  .col {
    width: 100%;
  }

  /* /////////// */
  .main-nav {
    float: left;
    margin-top: 23px;
    display: none;
  }

  .sticky .main-nav {
    margin-top: 23px;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 2.5px 0px;
    color: rgba(255, 255, 255, 0.7);
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 2.5px 0px;
    color: rgba(0, 0, 0, 0.7);
  }

  a:hover,
  a:active {
    color: rgba(255, 255, 255, 0.7);
  }

  .mobile-nav-icon {
    display: inline-block;
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.7);
  }

  .sticky .mobile-nav-icon {
    display: inline-block;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.7);
  }

  .logo,
  .logo-black {
    height: 40px;
    margin-top: 10px;
    margin-left: 0px;
  }

  /* /////////// */

  .long-copy {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  p {
    line-height: 135%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  h1 {
    font-size: 210%;
  }

  h2 {
    font-size: 160%;
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
  }

  .works-step {
    margin-bottom: 20px;
  }

  .works-step:last-of-type {
    margin-bottom: 20px;
  }
  .button-app img {
    height: 40px;
    text-align: right;
  }

  .app-screen {
    width: 40%;
  }

  .works-step div {
    border: 1px solid #e67e22;
    height: 35px;
    width: 35px;
    font-size: 120%;
  }

  .steps-box:first-child {
    text-align: center;
    padding-right: 0%;
  }

  .steps-box:last-child {
    text-align: right;
  }

  .section-cities {
    width: 70%;
    margin-left: 15%;
  }

  .city-feature {
    margin-bottom: 1px;
    font-size: 100%;
  }

  .box h3 {
    text-align: left;
  }

  .box img {
    margin-top: 30px;
    margin-top: 5px;
  }

  .box img:hover {
    transform: scale(1.03);
  }

  blockquote {
    margin-top: 40px;
  }

  cite {
    margin-top: 15px;
  }

  .section-plans {
    background-color: #f4f4f4;
  }

  .plan-box {
    background-color: #fff;
    border-radius: 30px;
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    box-shadow: 1px 0px 20px rgb(221, 221, 221);
  }

  .plan-box h3 {
    text-align: left;
  }

  .plan-box div {
    padding: 15px;
  }

  .plan-box div:first-child {
    background-color: #fff;
    border-bottom: 1.5px solid rgb(233, 233, 233);
    border-radius: 20px 20px 0px 0px;
  }

  .plan-box div:last-child {
    text-align: center;
    border: 0;
  }

  .plan-price {
    margin-bottom: 5px;
  }

  .plan-price-meal {
    font-size: 93%;
    margin-bottom: 10px;
  }

  .plan-box ul {
    list-style: none;
  }

  .plan-box ul li {
    padding: 20px 0px 0px 20px;
    font-size: 110%;
  }

  .contact-form {
    width: 100%;
    font-size: 110%;
  }
}

/*small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .contact-form {
    width: 100%;
    font-size: 110%;
  }

  footer {
    text-align: center;
  }

  section {
    padding: 25px 0;
  }
}
