/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}
/* ------ HEADINGS ------ */

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  word-spacing: 5px;
  font-size: 240%;
  letter-spacing: 5px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 5px;
  font-weight: 400;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

h2:after {
  display: block;
  height: 2px;
  width: 200px;
  background-color: #e67e22;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
}

/* ------ PARAGRAPHS ------ */
p {
  text-align: center;
}

.long-copy {
  line-height: 135%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 2%;
}

.box p {
  font-size: 90%;
  line-height: 135%;
  text-align: center;
  width: auto;
}

/* ------ ICONS ------ */
ion-icon {
  font-size: 300%;
  display: block;
  color: #e67e22;
  margin-bottom: 20px;
  --ionicon-stroke-width: 16px;
  margin-right: auto;
  margin-left: auto;
}

/* ------ BUTTONS ------ */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 1s, color 1s, border 1s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 2px solid #e67e22;
  color: #fff;
  margin-right: 20px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 2px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 2px solid #bf6516;
  background-color: #bf6516;
  color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 2px solid #bf6516;
  color: #fff;
}

/* ---------------------------------------- */
/* HEADERS */
/* ---------------------------------------- */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  text-decoration: none;
  font-size: 90%;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* ---------------------------------------- */
/* MEALS */
/* ---------------------------------------- */

.section-meals {
  padding: 0;
}
.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meals-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meals-photo img {
  opacity: 0.88;
  width: 100%;
  height: auto;
  transform: scale(1.25);
  transition: transform 0.5s, opacity 0.5s;
}
.meals-photo img:hover {
  opacity: 1;
  transform: scale(1.05);
}
